*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

section{
  margin: 1em;
}

html{
  background-color: hotpink;
  color: white
}

a {
  text-decoration: none;
  color: purple
}

main {
  display: grid;
  grid-template-rows: 2fr ;
  grid-template-columns: 1fr ;
}

footer {
  display: flex;
  position: fixed;
  bottom: 2em;
  justify-content: space-around;
  width: 100%;
}

.none {
  display: none;
}

#results {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#results div {
  text-align: center;
  width: 40%;
}

#chosenOnes section ol:nth-of-type(1) {
  margin: 1em;
}

#chosenOnes section ol:nth-of-type(2) {
  margin: 2em 2em 8em 2em;
}
